<div class="box">
  <div class="box-body no-padding" style="min-height: 120px;">

      <table class="table table-bordered table-striped" ng-repeat="team in currentUser.teams">
          <tr>
              <th>TEAM: {{team.name}}</th>
          </tr>
          <tr>
              <td>
                   <table ng-repeat="domain in team.domains">
                       <tr>
                           <th>DOMAIN: {{domain.name}}</th>
                       </tr>
                       <tr ng-repeat="trail in domain.trails">
                           <td>{{trail.name}}</td>
                       </tr>
                   </table>
              </td>
          <tr/>
      </table>

  </div>
  <div ng-if="loading" class="overlay"></div>
  <div ng-if="loading" class="loading-img"></div>
</div>


