<div style="padding-bottom: 5px">
    <!-- Team Select-->
    <div class="btn-group">
        <button type="button" data-toggle="dropdown" class="btn btn-primary btn-sm dropdown-toggle">Team:
            {{selectedTeam.name}}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" id="team_select">
            <li ng-repeat="team in teams" ng-click="teamChanged(team)" class="pointer"
                ng-class="{selected : team === selectedTeam}">
                {{team.name}}
            </li>
        </ul>
    </div>
    <!-- Domain Select-->
    <div class="btn-group">
        <button ng-disabled="!selectedTeam" type="button" data-toggle="dropdown"
                class="btn btn-primary btn-sm dropdown-toggle">Domain:
            {{selectedDomain.name}}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" id="domain_select">
            <li ng-repeat="domain in domains" ng-click="domainChanged(domain)" class="pointer"
                ng-class="{selected : domain === selectedDomain}">
                {{domain.name}}
            </li>
        </ul>
    </div>
    <!--Trail Selection Button-->
    <div class="btn-group">
        <button ng-disabled="!selectedTeam || !selectedDomain" type="button" data-toggle="dropdown"
                class="btn btn-primary btn-sm dropdown-toggle">Trail:
            {{selectedTrail.name}}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" id="trail_select">
            <li ng-repeat="trail in trails" ng-click="trailChanged(trail)" class="pointer"
                ng-class="{selected : trail === selectedTrail}">
                {{trail.name}}
            </li>
        </ul>
    </div>
    <!-- Views selection -->
    <div class="btn-group">
        <div
                isteven-multi-select
                input-model="views"
                output-model="selectedViews"
                button-label="'Select Entity Types:' name"
                item-label="name"
                tick-property="selected"
                max-labels="3"
        >
        </div>
    </div>
    <!-- Draw Graph -->
    <div class="btn-group">
        <button ng-disabled="!selectedTeam || !selectedDomain || !selectedTrail"
                class="btn btn-success btn-sm" ng-click="drawGraph()">
            <span class="glyphicon glyphicon-edit"></span> Draw Graph
        </button>
    </div>
</div>
<div class="box">
    <div class="box-body no-padding" style="min-height: 120px;">

        <div class="row"></div>
        <tabset class="nav-tabs-custom">
            <tab heading="Graph" select="drawGraph()">
                <div class="row">
                    <div class="col-sm-10">
                        <div id="link-dialog" title="Vertex Details"></div>
                        <div id=node_graph></div>
                        <div id="dialog" title="Highlighted Vertices"></div>
                    </div>
                    <div class="col-sm-2">
                        <svg id=legend height=600px style="position:relative; float: right; pointer-events:none;"></svg>
                    </div>

                </div>
            </tab>
            <tab heading="Visited Links">
                <table st-table="visitedGridSafe" st-safe-src="visitedGrid" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th st-sort="searchTerms" class="col-sm-2">Search Terms</th>
                            <th st-sort="url" class="col-sm-8">URL</th>
                            <th st-sort="timestamp" class="col-sm-2">Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="page in visitedGridSafe">
                            <td class="col-sm-2"><span class="span label label-ltgray" ng-repeat="term in page.searchTerms">{{term}}</span></td>
                            <td class="col-sm-8"><a href="{{page.url}}" target="_blank"><p>{{ page.url.substring(0,100) }}</p></a></td>
                            <td class="col-sm-2">{{ page.timestamp }}</td>
                        </tr>
                    </tbody>
                </table>
            </tab>
            <tab heading="Entities">
                    <table st-table="entitiesGridSafe" st-safe-src="entitiesGrid" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th st-sort="text" class="col-sm-2">Name</th>
                                <th st-sort="type" class="col-sm-5">Types</th>
                                <th st-sort="url" class="col-sm-3">URLs</th>
                                <th st-sort="weight" class="col-sm-1">Count</th>
                                <th st-sort="extractor" class="col-sm-1">Extractor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="entity in entitiesGridSafe">
                                <td class="col-sm-2">{{ entity.text }}</td>
                                <td class="col-sm-5"><span class="span label label-ltgray" ng-repeat="type in entity.type">{{type}}</span></td>
                                <td class="col-sm-3"><span class="span label" ng-repeat="url in entity.urls"><a href="{{url}}" target="_blank"><br>{{
                                    url.substring(0,80) }}</a></span></td>
                                <td class="col-sm-1">{{ entity.weight }}</td>
                                <td class="col-sm-1">{{ entity.extractor }}</td>
                            </tr>
                        </tbody>
                    </table>
            </tab>
            <tab heading="Word Cloud" select="drawGraph()">
                <div class="row">
                    <jqcloud words="words" width="500" height="500" steps="7"></jqcloud>
                </div>

            </tab>
        </tabset>
    </div>
</div>
