//
   Created by jreeme-dw-depot on 8/13/15.

section.content-header(admin-header='',
title="{{'Users' | translate}}",
sub-title="{{'User, Role and Team Management'|translate}}")
  //a.btn.btn-default.btn-sm(ui-sref='.add') {{'Add' | translate}}
section.content(ui-view='')
