
.box
  .box-body.no-padding(style='min-height: 120px;')
    table.table.table-striped(st-table='displayedserviceTypes', st-safe-src='safeDisplayedserviceTypes')
      thead
        tr
          th(colspan="3")
            input.input-sm.form-control(st-search='' type='search' placeholder='Search')
      thead
        tr
          th.sortable(st-sort='name' st-sort-default="true") Name
          th.sortable(st-sort='description') Description
          th
              a.btn.btn-sm.btn-success.glyphicon.glyphicon-plus.custom(ui-sref='^.add', ng-disabled='!currentUser.isAdmin')
                &nbsp;Add Service Type
      tbody
        tr(ng-repeat='serviceType in displayedserviceTypes')
          td(style='width: 120px')
            a(href='', ui-sref='app.dwServiceTypes.view({id: serviceType.id})') {{serviceType.name}}
          td
            span.text-muted {{serviceType.description}}
          td(style='width: 120px')
            .btn-toolbar
                button.btn.btn-sm.btn-default(ui-sref='app.dwServiceTypes.edit({id:serviceType.id})',ng-disabled='!currentUser.isAdmin')
                    i.fa.fa-pencil
                button.btn.btn-sm.btn-danger(ng-click='delete({id:serviceType.id})',ng-disabled='!currentUser.isAdmin')
                    i.fa.fa-trash-o
  .overlay(ng-if='loading')
  .loading-img(ng-if='loading')
