section.content-header(admin-header='',
title="{{'Datawake Crawl Types' | translate}}",
sub-title="{{'Datawake Crawl Types Management'|translate}}")
  //a.btn.btn-default.btn-sm(ui-sref='.add') {{'Add' | translate}}
section.content(ui-view='')
