.highlight {
    color: #dddddd;
    background-color: #252644;
}

div#datawake-right-panel {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    color: #dddddd;
    background-color: #252644;
    background: #252644;
    z-index:10000;
}

div#datawake-site {
    margin-right: 300px;
}
