.datawake-highlight {
    color: #dddddd;
    background-color: #252644;
}

.DWD_sidebar_body{
    color: white;
    background: steelblue;
}

.DWD_widget_container{
    border:0px solid red
}

.DWD_widget_base{
    border:1px solid #231d2b;
    text-align: center;
    max-height: 475px;
    overflow: auto;
    margin-bottom: 0;
}

.DWD_widget{
    border:1px solid #231d2b;
    text-align: center;
    max-height: 475px;
    overflow: auto;
    margin-bottom: 5px;
}

.DWD_h1{
    background-color: steelblue;
    color: white;
    text-align: center;
    font-size: 1em;
}

.DWD_table {
    overflow-y: scroll;
    width: 100%;
    background-color: #231d2b;
    border-spacing:0;
}

.DWD_table_extracted{
    max-height: 475px;
    overflow-y: scroll;
    table-layout:fixed;
    background-color: #231d2b;
    border-spacing:0;
}

.DWD_tr{
    background-color: white;
    color: #5F5F5F;
}

.DWD_tr:nth-child(odd){
    background-color: lightsteelblue;
    color: #5F5F5F;
}

.DWD_th {
    background-color: #5F5F5F;
    color: white;
    padding: 5px;
    font-size: .8em;
}

.DWD_th_ext{
    color: #5F5F5F;
    padding: 5px;
    font-size: .7em;
}

.DWD_url{
    background-color: yellow;
    color: #5F5F5F;
    font-size: .65em;
    text-overflow: ellipsis;
}

.DWD_th_ext1{
    width:112px;
}

.DWD_th_ext2{
    width:25px;
}

.DWD_th_ext3{
    width:80px;
}

.DWD_td {
    color:black;
    text-align: left;
    padding: 5px;
    font-size: .75em;
}

.DWD_td_small {
    color:black;
    width:112px;
    text-align: left;
    padding: 1px;
    font-size: .58em;
}

.DWD_div{
    height:12px;
}

.DWD_div_col1{
    width:112px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.DWD_div_col2{
    width:25px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.DWD_div_col3{
    width:80px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.DWD_div_rancor{
    height:12px;
    width:217px;
}


div#datawake-right-panel {
    position: absolute;
    border-radius:5px;
    border: 2px solid black;
    top: 0;
    bottom: 0;
    right: 0;
    width: 300px;
    color: white;
    background-color: skyblue;
    background: steelblue;
    z-index:10000;
}



div#datawake-site {
    margin-right: 300px;
}

