
.box
  .box-body.no-padding(style='min-height: 120px;')
    table.table.table-striped(st-table='displayedfeeds', st-safe-src='safeDisplayedfeeds')
      thead
        tr
          th(colspan="9")
            input.input-sm.form-control(st-search='' type='search' placeholder='Search')
      thead
        tr
          th.sortable.col-sm-1.col-md-1.col-lg-1(st-sort='name' st-sort-default="true") Name
          th.sortable.col-sm-2.col-md-2.col-lg-2(st-sort='feedUrl') Url
          th.sortable.col-sm-1.col-md-1.col-lg-1(st-sort='serviceTypeId') ServiceType
          th.sortable.col-sm-1.col-md-1.col-lg-1(st-sort='index') Index
          th.col-sm-2.col-md-2.col-lg-2 Subscriptions
          th.sortable.col-sm-1.col-md-1.col-lg-1(st-sort='credentials') Credentials
          th.sortable.col-sm-1.col-md-1.col-lg-1(st-sort='protocol') Protocol
          th.sortable.col-sm-1.col-md-1.col-lg-1.td-center(st-sort='') Transmissions
          th.col-sm-2.col-md-2.col-lg-2.td-center
            a.btn.btn-sm.btn-success.glyphicon.glyphicon-plus.custom(ui-sref='^.add', ng-disabled='!currentUser.isAdmin')
              &nbsp; Add Feed
      tbody
        tr(ng-repeat='feed in displayedfeeds')
          td(style='width: 120px')
            a(href='', ui-sref='app.dwFeeds.view({id: feed.id})') {{feed.name}}
          td
            span.text-muted {{feed.feedUrl}}
          td
            span.text-muted {{feed.serviceType.name}}
          td
            span.text-muted {{feed.index}}
          td
            span.label.label-ltgray(ng-repeat="domain in feed.domains") {{domain.name}}
            span.label.label-ltgray(ng-repeat="trail in feed.trails") {{trail.name}}
            span.label.label-ltgray(ng-repeat="team in feed.teams") {{team.name}}
          td
            span.text-muted {{feed.credentials}}
          td
            span.text-muted {{feed.protocol}}
          td.td-center
            a(ui-sref='app.dwTransmissions.list({id:null, feedId:feed.id})') {{feed.transmissions.length}}
          td.td-center(style='width: 120px')
            .btn-toolbar
                button.btn.btn-sm.btn-default(ui-sref='app.dwFeeds.edit({id:feed.id})',ng-disabled='!currentUser.isAdmin')
                    i.fa.fa-pencil
                button.btn.btn-sm.btn-danger(ng-click='delete({id:feed})',ng-disabled='!currentUser.isAdmin')
                    i.fa.fa-trash-o
  .overlay(ng-if='loading')
  .loading-img(ng-if='loading')
