
.box
  .box-body.no-padding(style='min-height: 120px;')
    table.table.table-striped(st-table='domainItems')
      thead
        //tr
        //  th
        //      input.input-sm.form-control(st-search='name' type='search' placeholder='Search across fields')
        tr
          th(st-sort='domainEntityTypeId') EntityType
          th(st-sort='itemValue') Value
          th(st-sort='domainId') Domain
          th
              a.btn.btn-block.btn-success(ui-sref='^.add', ng-disabled='!currentUser.isAdmin')
                  span.glyphicon.glyphicon-plus(style="margin-right: 10px")
                  span Add DomainItem
      tbody
        tr(ng-repeat='domainItem in domainItems')
          td(style='width: 120px')
            a(href='', ui-sref='app.dwDomainItems.view({id: domainItem.id})') {{domainItem.id}}
          td
            span.text-muted {{domainItem.itemValue}}
          td
            span.text-muted {{domainItem.domainId}}
          td(style='width: 120px')
            .btn-toolbar
                button.btn.btn-sm.btn-default(ui-sref='app.dwDomainItems.edit({id:domainItem.id})',ng-disabled='!currentUser.isAdmin')
                    i.fa.fa-pencil
                button.btn.btn-sm.btn-danger(ng-click='delete({id:domainItem.id})',ng-disabled='!currentUser.isAdmin')
                    i.fa.fa-trash-o
  .overlay(ng-if='loading')
  .loading-img(ng-if='loading')
