
.box
  .box-body.no-padding(style='min-height: 120px;')
    table.table.table-striped(st-table='displayedDomainItems', st-safe-src='safeDisplayeddomainItems')
      thead
        tr
          th(colspan="4")
            input.input-sm.form-control(st-search='' type='search' placeholder='Search')
      thead
        tr
          th.sortable.col-sm-2.col-md-2.col-lg-2(st-sort='itemValue' st-sort-default="true") Reference
          th.sortable.col-sm-2.col-md-2.col-lg-2(st-sort='itemType') EntityType
          th.sortable.col-sm-2.col-md-2.col-lg-2.td-center(st-sort='domainId') Domain
          th.sortable.col-sm-2.col-md-2.col-lg-2(st-sort='coreItem') Core?
          th.col-sm-2.col-md-2.col-lg-2.td-center
              a.btn.btn-sm.btn-success.glyphicon.glyphicon-plus.custom(ui-sref='^.add')
                  | Add Item
      tbody
        tr(ng-repeat='domainItem in displayedDomainItems')
          td
            a(href='', ui-sref='app.dwDomainItems.view({id: domainItem.id})') {{domainItem.itemValue}}
          td(style='width: 120px')
            span.label.label-ltgray {{domainItem.domainEntityType.name}}
          td.td-center
            span.label.label-ltgray
                a(ui-sref='app.dwDomains.list({search:domain.id})') {{domainItem.domain.name}}
          td
            span.label.label-ltgray {{domainItem.coreItem}}
          td.td-center(style='width: 120px')
            .btn-toolbar
                button.btn.btn-sm.btn-default(ui-sref='app.dwDomainItems.edit({id:domainItem.id})')
                    i.fa.fa-pencil
                button.btn.btn-sm.btn-danger(ng-click='delete({id:domainItem.id})',ng-disabled='!currentUser.isAdmin')
                    i.fa.fa-trash-o
  .overlay(ng-if='loading')
  .loading-img(ng-if='loading')
