
.box
  .box-body.no-padding(style='min-height: 120px;')
    table.table.table-striped(st-table='displayedtransmissions', st-safe-src='safeDisplayedtransmissions')
      thead
        tr
          th(colspan="4")
            input.input-sm.form-control(st-search='' type='search' placeholder='Search')
          th(colspan="1")
            button.btn.btn-sm.btn-default(ui-sref='^.list' ui-sref-opts="{reload: true, notify: true}",title='Refresh Trails')
              i.fa.fa-refresh
      thead
        tr
          th.sortable.col-sm-2.col-md-2.col-lg-2(st-sort='') Transmission
          th.sortable.col-sm-2.col-md-2.col-lg-3(st-sort='feeds.name') Feed
          th.sortable.col-sm-2.col-md-2.col-lg-2(st-sort='transmitStatus') Status
          th.sortable.col-sm-2.col-md-2.col-lg-3(st-sort='timestamp' st-sort-default="true") Timestamp
          th.col-sm-2.col-md-2.col-lg-2.td-center
            a.btn.btn-sm.btn-success.glyphicon.glyphicon-plus.custom(ui-sref='^.add', ng-disabled='!currentUser.isAdmin')
              | Add Transmission
      tbody
        tr(ng-repeat='transmission in displayedtransmissions')
          td(style='width: 120px')
            a(href='', ui-sref='app.dwTransmissions.view({id: transmission.id})') {{transmission.transmission}}
          td
            span.text-muted {{transmission.feeds.name}}
          td
            span.text-muted(ng-style="set_color(transmission)") &nbsp;{{transmission.transmitStatus}}&nbsp;
          td
            span.text-muted {{transmission.timestamp}}
          td.td-center(style='width: 120px')
            .btn-toolbar
                button.btn.btn-sm.btn-default(ui-sref='app.dwTransmissions.edit({id:transmission.id})',ng-disabled='!currentUser.isAdmin')
                    i.fa.fa-pencil
                button.btn.btn-sm.btn-danger(ng-click='delete({id:transmission.id})',ng-disabled='!currentUser.isAdmin')
                    i.fa.fa-trash-o
  .overlay(ng-if='loading')
  .loading-img(ng-if='loading')
