section.content-header(admin-header='',
title="{{'Datawake Settings' | translate}}",
sub-title="{{'Server Settings Management'|translate}}")
  //a.btn.btn-default.btn-sm(ui-sref='.add') {{'Add' | translate}}
//section.content(ui-view='')
