header.header .logo {
  float: left;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  padding: 0 10px;
  width: 220px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  height: 50px;
  display: block;
}

.custom {
  width: 155px !important;
  word-spacing: -6px;
  white-space: normal;
}

.sortable {
  cursor: pointer;
}
.sortable:after {
  content: url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIUnC2nKLnT4or00PvyrQwrPzUZshQAOw==);
  padding-left: 1em;
}
.st-sort-ascent:after {
  content: '\25B2';
}
.st-sort-descent:after {
  content: '\25BC';
}

/* Change the white to any color ;) */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.form-box {
  width: 385px;
  padding-top: 5%;
  margin: 0px auto 0 auto;
}

.form-box .header {
  background: rgba(41, 58, 68, 0.9);
  color: #ffffff;
}

.lockscreen {
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}