header.header .logo {
  float: left;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  padding: 0 10px;
  width: 220px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  height: 50px;
  display: block;
}
