header.header .logo {
  float: left;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  padding: 0 10px;
  width: 220px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  height: 50px;
  display: block;
}

.custom {
  width: 155px !important;
  word-spacing: -6px;
  white-space: normal;
}

.sortable {
  cursor: pointer;
}
.sortable:after {
  content: url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIUnC2nKLnT4or00PvyrQwrPzUZshQAOw==);
  padding-left: 1em;
}
.st-sort-ascent:after {
  content: '\25B2';
}
.st-sort-descent:after {
  content: '\25BC';
}