
.box
  .box-body.no-padding(style='min-height: 120px;')
    table.table.table-striped(st-table='displayedTrailUrls', st-safe-src='safeDisplayedtrailUrls')
      thead
        tr
          th(colspan="6")
            input.input-sm.form-control(st-search='' type='search' placeholder='Search')
      thead
        tr
          th.sortable(st-sort='url' st-sort-default="true") URL
          th.sortable(st-sort='trail.name') Trail
          th # Extractions
          th.sortable(st-sort='dwCrawlTypeId') Crawl Type
          th.sortable(st-sort='comments') Comments
          th.sortable(st-sort='timestamp') Timestamp
          th
              a.btn.btn-sm.btn-success.glyphicon.glyphicon-plus.custom(ui-sref='^.add', ng-disabled='!currentUser.isAdmin')
                &nbsp;Add Trail URL
      tbody
        tr(ng-repeat='trailUrl in displayedTrailUrls')
          td(style='width: 120px')
            a(href='', ui-sref='app.dwTrailUrls.view({id: trailUrl.id})') {{trailUrl.url}}
          td
            span.label.label-default {{trailUrl.trail.name}}
          td
            span.text-muted {{trailUrl.urlExtractions.length}}
          td
            span.text-muted {{trailUrl.crawlType.name}}
          td
            span.text-muted {{trailUrl.comments}}
          td
            span.text-muted {{trailUrl.timestamp}}
          td(style='width: 120px')
            .btn-toolbar
                button.btn.btn-sm.btn-default(ui-sref='app.dwTrailUrls.edit({id:trailUrl.id})',ng-disabled='!currentUser.isAdmin')
                    i.fa.fa-pencil
                button.btn.btn-sm.btn-danger(ng-click='delete({id:trailUrl.id})',ng-disabled='!currentUser.isAdmin')
                    i.fa.fa-trash-o
  .overlay(ng-if='loading')
  .loading-img(ng-if='loading')
