.box
  .box-header
    span.box-title
      .input-group
        a.btn.btn-default(translate, href='', ui-sref='^.list', style='float: left;')
          i.fa.fa-arrow-left &nbsp;Back to UrlExtractions
    .box-tools.pull-right
      span.pull-right.btn-toolbar
        button.btn.btn-primary.btn-success.btn-sm(translate, ng-click='onSubmit()')
          i.fa.fa-save &nbsp;Save
        button.btn.btn-primary.btn-danger.btn-sm(translate, ng-click='delete({id: urlExtraction.id})')
          i.fa.fa-trash-o &nbsp;Delete
  .box-body
    .alert.alert-danger(translate, ng-if='addError') Could not add UrlExtraction!
    form(ng-submit='onSubmit()' novalidate)
      formly-form(model='urlExtraction', fields='formFields')

  .overlay(ng-if='loading')
  .overlay(ng-if='loading-img')


