.box
    .box-body.no-padding(style='min-height: 120px;')
        table.table.table-striped(st-table='displayedUrlExtractions', st-safe-src='safeDisplayedUrlExtractions')
            thead
                tr
                    th
                    th(st-sort='trailId') TrailID
                    th(st-sort='domainEntityTypeId') Extracted Entity Type
                    th(st-sort='value') Extracted Value
                tr
                    th
                        a.btn.btn-block.btn-success(ui-sref='^.add')
                            span.glyphicon.glyphicon-plus(style="margin-right: 10px")
                            span Add Url Extraction
                    th
                        input.input-sm.form-control(st-search='domainEntityTypeId' type='search' placeholder='search')
                    th
                        input.input-sm.form-control(st-search='value' type='search' placeholder='search')
            tbody
                tr(ng-repeat='urlExtraction in displayedUrlExtractions')
                    td(style='width: 120px')
                        .btn-group
                            button.btn.btn-sm.btn-default(ui-sref='app.dwUrlExtractions.edit({id:urlExtraction.id})')
                                i.fa.fa-pencil
                            button.btn.btn-sm.btn-danger(ng-click='delete({id:urlExtraction.id})')
                                i.fa.fa-trash-o
                    td
                        span.text-muted {{urlExtraction.trailId}}
                    td
                        span.text-muted {{urlExtraction.domainEntityTypeId}}
                    td
                        span.text-muted {{urlExtraction.value}}
    .overlay(ng-if='loading')
    .loading-img(ng-if='loading')
