<div class="box">
  <div class="box-body no-padding" style="min-height: 120px;">
    <table class="table table-bordered table-striped">
      <tr ng-repeat="urlExtraction in urlExtractions">
        <td>
          <a href="" ui-sref="app.dwUrlExtractions.view({id: urlExtraction.id})">{{urlExtraction.value}}</a>
          <span class="text-muted">{{urlExtraction.value}}</span>
          <span class="pull-right">
            <div class="btn-group">
              <button class="btn btn-xs btn-default" ui-sref="app.dwUrlExtractions.name({ id: urlExtraction.id })"><i class="fa fa-key"></i></button>
              <button class="btn btn-xs btn-default" ui-sref="app.dwUrlExtractions.edit({ id: urlExtraction.id })"><i class="fa fa-pencil"></i></button>
              <button class="btn btn-xs btn-danger" ng-click="delete({ id: urlExtraction.id })"><i class="fa fa-trash-o"></i></button>
            </div>
          </span>
        </td>
      </tr>
    </table>
  </div>
  <div ng-if="loading" class="overlay"></div>
  <div ng-if="loading" class="loading-img"></div>
</div>

