
.box
  .box-body.no-padding(style='min-height: 120px;')
    table.table.table-striped(st-table='displayedUrlExtractions', st-safe-src='safeDisplayedurlExtractions')
      thead
        tr
          th
            input.input-sm.form-control(st-search='' type='search' placeholder='Search')
        tr
          th(st-sort='domainEntityTypeId') Entity Type
          th(st-sort='value') Value
          th(st-sort='trailId') Trail
          th
              a.btn.btn-sm.btn-success.glyphicon.glyphicon-plus.custom(ui-sref='^.add', ng-disabled='!currentUser.isAdmin')
                &nbsp;Add UrlExtraction
      tbody
        tr(ng-repeat='urlExtraction in displayedUrlExtractions')
          td(style='width: 120px')
            a(href='', ui-sref='app.dwUrlExtractions.view({id:urlExtraction.id})') {{urlExtraction.domainEntityTypeId}}
          td
            span.text-muted {{urlExtraction.value}}
          td
            span.label.label-default {{urlExtraction.trailId}}
          td(style='width: 120px')
            .btn-toolbar
                button.btn.btn-sm.btn-default(ui-sref='app.dwUrlExtractions.edit({id:urlExtraction.id})',ng-disabled='!currentUser.isAdmin')
                    i.fa.fa-pencil
                button.btn.btn-sm.btn-danger(ng-click='delete({id:urlExtraction.id})',ng-disabled='!currentUser.isAdmin')
                    i.fa.fa-trash-o
  .overlay(ng-if='loading')
  .loading-img(ng-if='loading')
