div.box
    div.box-header
        h3.box-title
            a(href="" ui-sref="^.list({trailId: currentTrailId,trailUrlId: currentTrailUrlId })" class="btn btn-default")
                i.fa.fa-arrow-left &nbsp;Back to URL Extractions
    div.box-body
        div
            h2 {{urlExtraction.name}}

            h3 Raw
                pre {{urlExtraction|json}}