section.content-header(admin-header='', title="{{'Settings' | translate }}" sub-title="{{ 'Manage your settings here!' | translate }}")
    a.btn.btn-default.btn-sm(ui-sref=".add" translate)
      |Add
section.content(ui-view="")
