
.box
  .box-body.no-padding(style='min-height: 120px;')
    table.table.table-striped(st-table='displayedTrails', st-safe-src='safeDisplayedtrails')
      thead
        tr
          th(colspan="5")
            input.input-sm.form-control(st-search='' type='search' placeholder='Search')
          th(colspan="1")
            button.btn.btn-sm.btn-default(ui-sref='^.list' ui-sref-opts="{reload: true, notify: true}",title='Refresh Trails')
                i.fa.fa-refresh
      thead
        tr
          th.sortable.col-sm-3.col-md-3.col-lg-3.td-center(st-sort='name' st-sort-default="true") Name
          th.sortable.col-sm-3.col-md-3.col-lg-3.td-center(st-sort='description') Description
          th.sortable.col-sm-2.col-md-2.col-lg-2.td-center(st-sort='domain.name') Domain
          th.sortable.col-sm-1.col-md-1.col-lg-1.td-center(st-sort='trailUrls.length') # URLs
          th.sortable.col-sm-2.col-md-2.col-lg-2.td-center(st-sort='timestamp') Timestamp
          th.col-sm-1.col-md-1.col-lg-1.td-center
              a.btn.btn-sm.btn-success.glyphicon.glyphicon-plus.custom(ui-sref='^.add') &nbsp;Add Trail
      tbody
        tr(ng-repeat='trail in displayedTrails')
          td.hidden
            span {{trail.id}}
          td
            a(ui-sref='app.dwTrails.view({id: trail.id})' title='view Trail JSON') {{trail.name}}
          td
            span.text-muted {{trail.description}}
          td.td-center
            span.label.label-ltgray
              a(ui-sref='app.dwDomains.list({id:domain.id})' title='view Domains') {{trail.domain.name}}
          td.td-center
            a(ui-sref='app.dwTrailUrls.list({id:null, trailId:trail.id})' title = 'view Trail Urls').badge {{trail.trailUrls.length}}
          td.td-center
            span.text-muted {{trail.timestamp}}
          td.td-center(style='width: 120px')
            .btn-toolbar
                button.btn.btn-sm.btn-default(ui-sref='app.dwTrails.edit({id:trail.id})',ng-disabled='!currentUser.isAdmin', title='Edit Trail')
                    i.fa.fa-pencil
                button.btn.btn-sm.btn-danger(ng-click='delete({id:trail})',ng-disabled='!currentUser.isAdmin', title='Delete Trail')
                    i.fa.fa-trash-o
                  tr
        td.text-center(colspan='8')
          .btn-toolbar
            button.btn.btn-sm.btn-default(id='pageBack' ng-click='prevPage()' disabled=true)
              i.fa.fa-chevron-left
            button.btn.btn-sm.btn-default(id='pageFwd' ng-click='nextPage()' disabled=true)
              i.fa.fa-chevron-right
  .overlay(ng-if='loading')
  .loading-img(ng-if='loading')
