<div class="box">
  <div class="box-body no-padding" style="min-height: 120px;">
    <table class="table table-bordered table-striped">
      <tr ng-repeat="trail in trails">
        <td>
          <a href="" ui-sref="app.dwTrails.view({id: trail.id})">{{trail.name}}</a>
          <span class="text-muted">{{trail.description}}</span>
          <span class="pull-right">
            <div class="btn-group">
              <button class="btn btn-xs btn-default" ui-sref="app.dwTrails.name({ id: trail.id })"><i class="fa fa-key"></i></button>
              <button class="btn btn-xs btn-default" ui-sref="app.dwTrails.edit({ id: trail.id })"><i class="fa fa-pencil"></i></button>
              <button class="btn btn-xs btn-danger" ng-click="delete({ id: trail.id })"><i class="fa fa-trash-o"></i></button>
            </div>
          </span>
        </td>
      </tr>
    </table>
  </div>
  <div ng-if="loading" class="overlay"></div>
  <div ng-if="loading" class="loading-img"></div>
</div>

