.box
    .box-body.no-padding(style='min-height: 120px;')
        table.table.table-striped(st-table='displayedTrails', st-safe-src='safeDisplayedTrails')
            thead
                tr
                    th
                    th(st-sort='name') Trail Name
                    th(st-sort='description') Description
                    th(st-sort='timestamp') Created
                tr
                    th
                        a.btn.btn-block.btn-success(ui-sref='^.add')
                            span.glyphicon.glyphicon-plus(style="margin-right: 10px")
                            span Add Trail
                    th
                        input.input-sm.form-control(st-search='name' type='search' placeholder='search')
                    th
                        input.input-sm.form-control(st-search='description' type='search' placeholder='search')
            tbody
                tr(ng-repeat='trail in displayedTrails')
                    td(style='width: 120px')
                        .btn-group
                            button.btn.btn-sm.btn-default(ui-sref='app.dwTrails.edit({id:trail.id})')
                                i.fa.fa-pencil
                            button.btn.btn-sm.btn-danger(ng-click='delete({id:trail.id})')
                                i.fa.fa-trash-o
                    td
                        span.text-muted {{trail.name}}
                    td
                        span.text-muted {{trail.description}}
                    td
                        span.text-muted {{trail.timestamp|date}}
    .overlay(ng-if='loading')
    .loading-img(ng-if='loading')
