
.box
  .box-body.no-padding(style='min-height: 120px;')
    table.table.table-striped(st-table='displayedTrails', st-safe-src='safeDisplayedtrails')
      thead
        tr
          th(colspan="9")
            input.input-sm.form-control(st-search='' type='search' placeholder='Search')
          th(colspan="1")
            button.btn.btn-sm.btn-default(ui-sref='^.list' ui-sref-opts="{reload: true, notify: true}",title='Refresh Trails')
                i.fa.fa-refresh
      thead
        tr
          th.sortable.col-sm-2.col-md-2.col-lg-2(st-sort='name' st-sort-default="true") Name
          th.sortable.col-sm-3.col-md-3.col-lg-3(st-sort='description') Description
          th.sortable.col-sm-1.col-md-1.col-lg-1.td-center.text-nowrap(st-sort='domain.name') Domain
          th.sortable.col-sm-2.col-md-2.col-lg-2.td-center.text-nowrap(st-sort='') # Users
          th.sortable.col-sm-1.col-md-1.col-lg-1.td-center.text-nowrap(st-sort='trailUrls.length') # URLs
          th.sortable.col-sm-2.col-md-2.col-lg-2(st-sort='timestamp') Timestamp
          th.col-sm-1.col-md-1.col-lg-1.td-center
              a.btn.btn-sm.btn-success.glyphicon.glyphicon-plus.custom(ui-sref='^.add') &nbsp;Add Trail
      tbody
        tr(ng-repeat='trail in displayedTrails')
          td.hidden
            span {{trail.id}}
          td(style='width: 120px')
            a(href='', ui-sref='app.dwTrails.view({id: trail.id})') {{trail.name}}
          td
            span.text-muted {{trail.description}}
          td.td-center
            span.label.label-ltgray {{trail.domain.name}}
          td.td-center
            span.label.label-ltgray(ng-repeat="user in trail.users") {{user.username}}
          td.td-center
            a(ui-sref='app.dwTrailUrls.list({id:null, trailId:trail.id})') {{trail.trailUrls.length}}
          td
            span.text-muted {{trail.timestamp}}
          td.td-center(style='width: 120px')
            .btn-toolbar
                button.btn.btn-sm.btn-default(ui-sref='app.dwTrails.edit({id:trail.id})',ng-disabled='!currentUser.isAdmin', title='Edit Trail')
                    i.fa.fa-pencil
                button.btn.btn-sm.btn-danger(ng-click='delete({id:trail})',ng-disabled='!currentUser.isAdmin', title='Delete Trail')
                    i.fa.fa-trash-o
  .overlay(ng-if='loading')
  .loading-img(ng-if='loading')
