
.box
  .box-body.no-padding(style='min-height: 120px;')
    table.table.table-striped(st-table='displayedTrails', st-safe-src='safeDisplayedtrails')
      thead
        tr
          th
            input.input-sm.form-control(st-search='' type='search' placeholder='Search')
        tr
          th(st-sort='name') Name
          th(st-sort='description') Description
          th Based on Domain
          th(st-sort='timestamp') Timestamp
          th
              a.btn.btn-sm.btn-success.glyphicon.glyphicon-plus.custom(ui-sref='^.add', ng-disabled='!currentUser.isAdmin')
                &nbsp;Add Trail
      tbody
        tr(ng-repeat='trail in displayedTrails')
          td(style='width: 120px')
            a(href='', ui-sref='app.dwTrails.view({id: trail.id})') {{trail.name}}
          td
            span.text-muted {{trail.description}}
          td
            span.label.label-default(ng-repeat="domain in trail.domains") {{domain.name}}
          td
            span.text-muted {{trail.timestamp}}
          td(style='width: 120px')
            .btn-toolbar
                button.btn.btn-sm.btn-default(ui-sref='app.dwTrails.edit({id:trail.id})',ng-disabled='!currentUser.isAdmin')
                    i.fa.fa-pencil
                button.btn.btn-sm.btn-danger(ng-click='delete({id:trail.id})',ng-disabled='!currentUser.isAdmin')
                    i.fa.fa-trash-o
  .overlay(ng-if='loading')
  .loading-img(ng-if='loading')
