div.box
    div.box-header
        h3.box-title
            a(href="" ui-sref="^.list" class="btn btn-default")
                i.fa.fa-arrow-left &nbsp;Back to Trails
    div.box-body
        div
            h2 Trail: {{trail.name}}

            h3 Domain: {{trail.domain.name}}
            h3 Raw
                pre {{trail|json}}

div.box
    div.box-header
        h3.box-title
            a(href="" ui-sref="^.list" class="btn btn-default")
                i.fa.fa-arrow-left &nbsp;Back to Trails
    div.box-body
        div
            h2
                label(for='downloadLink') Trail: {{trail.name}}
                a(href='' id='downloadLink' ng-click='downloadTrail()') (click to download)

            h3 Domain: {{trail.domain.name}}
            h3 Raw
                pre#preElement {{trail|json}}