div.box
    div.box-header
        h3.box-title
            a(href="" ui-sref="^.list" class="btn btn-default")
                i.fa.fa-arrow-left &nbsp;Back to Trails
    div.box-body
        div
            h2 {{trail.name}}

            h3 Associated Domain
                ul
                    li( ng-repeat="domain in trail.domains") {{domain.name}}
            h3 Raw
                pre {{trail|json}}