.box
  .box-body.no-padding(style='min-height: 120px;')
    .row
      .col-sm-12
        section(st-table='displayedDomains', st-safe-src='safeDisplayedDomains')
          .row
            .input-group.col-sm-12
              .col-sm-11
                input.input-sm.form-control(st-search='' type='search' placeholder='Search')
              .col-sm-1
                button.btn.btn-sm.btn-default(ui-sref='^.list' ui-sref-opts="{reload: true, notify: true}",title='Refresh Domains')
                  i.fa.fa-refresh

          table.table.table-striped
            thead
              tr
                th.sortable.col-sm-1.td-center(st-sort='name' st-sort-default="true") Name
                th.sortable.col-sm-2.td-center(st-sort='description') Description
                th.sortable.col-sm-1.td-center(st-sort='name') Team
                th.col-sm-2.td-center Trails
                th.col-sm-2.col-md-2.col-lg-2.td-center(st-sort='') EntityTypes
                th.sortable.col-sm-1.td-center(st-sort='domainItems.length') # Items
                th.col-sm-1.td-center Extractors
                th.col-sm-1.td-center
                    button.btn.btn-sm.btn-success(ui-sref='^.add' ui-sref-opts="{reload: true, notify: true}",title='Add Domain' ng-disabled='!currentUser.isAdmin')
                        i.fa.fa-plus &nbsp;Add Domain
            tbody
              tr(ng-repeat='domain in displayedDomains')
                td.hidden
                  span {{domain.id}}
                td
                  a(ui-sref='app.dwDomains.view({id:domain.id})' title='view Domain JSON') {{domain.name}}
                td
                  span.text-muted {{domain.description}}
                td.td-center
                  span.label.label-ltgray
                    a(href='', ui-sref='app.dwTeams.list({id: domain.teams[0].id})' title='view Teams') {{domain.teams[0].name}}
                td
                  span.span-max.label.label-ltgray(ng-repeat='trail in domain.trails' title='view Trails')
                    a(ui-sref='app.dwTrails.list({id: trail.id})') {{trail.name}}
                td
                  span.span-max.label.label-active-entityType(ng-repeat="entType in domain.domainEntityTypes" title='view Entity Types')
                    a(ui-sref='app.dwDomainEntityTypes.list({id:null, domainId:domain.id})').label-active-entityType {{entType.name}}
                td.td-center
                  a(ui-sref='app.dwDomainItems.list({id:null, domainId:domain.id})' title='view Domain Items').badge {{domain.domainItems.length}}
                td.td-center
                  span.label.label-ltgray(ng-repeat="extractor in domain.extractors") {{extractor.name+ ' '}} <br ng-if="($index+1)%2==0">
                td.td-center
                  .btn-group
                    button.btn.btn-sm.btn-default(ui-sref='app.dwDomains.edit({id:domain.id})',ng-disabled='!currentUser.isAdmin', title='edit Domain')
                      i.fa.fa-pencil
                    button.btn.btn-sm.btn-warning(ng-click='export({id:domain.id})' title='Export Domain Summary')
                      i.fa.fa-save
                    button.btn.btn-sm.btn-danger(ng-click='delete({id:domain})', ng-disabled='!currentUser.isAdmin', title='delete Domain')
                      i.fa.fa-trash-o
  .overlay(ng-if='loading')
  .loading-img(ng-if='loading')
