div.box
    div.box-header
        h3.box-title
            a(href="" ui-sref="^.list" class="btn btn-default")
                i.fa.fa-arrow-left &nbsp;Back to Domains
    div.box-body
        div
            h2 {{domain.name}}

            h3 Raw
                pre {{domain|json}}