div.DWD_widget(id='domains')
     table.DWD_table(border='1')
         thead
             tr
                 th Name
                 th Desc
         tbody
             each domain, i in domainList
                 tr
                     td #{domain.name}
                     td #{domain.description}
