div.box
    div.box-header
        h3.box-title
            a(href="" ui-sref="^.list({domainId: currentDomainId })" class="btn btn-default")
                i.fa.fa-arrow-left &nbsp;Back to Entity Types
    div.box-body
        div
            h2 {{entityType.name}}

            h3 Raw
                pre {{entityType|json}}