
.box
  .box-body.no-padding(style='min-height: 120px;')
    table.table.table-striped(st-table='displayedcrawlTypes', st-safe-src='safeDisplayedcrawlTypes')
      thead
        tr
          th(colspan="2")
            input.input-sm.form-control(st-search='' type='search' placeholder='Search')
          th(colspan="1")
            button.btn.btn-sm.btn-default(ui-sref='^.list' ui-sref-opts="{reload: true, notify: true}",title='Refresh Teams')
              i.fa.fa-refresh
      thead
        tr
          th.sortable.col-sm-2.col-md-2.col-lg-2(st-sort='name' st-sort-default="true") Name
          th.sortable.col-sm-6.col-md-6.col-lg-6(st-sort='description') Description
          th.col-sm-2.col-md-2.col-lg-2.td-center
              a.btn.btn-sm.btn-success.glyphicon.glyphicon-plus.custom(ui-sref='^.add', ng-disabled='!currentUser.isAdmin')
                | Add Crawl Type
      tbody
        tr(ng-repeat='crawlType in displayedcrawlTypes')
          td(style='width: 120px')
            a(href='', ui-sref='app.dwCrawlTypes.view({id: crawlType.id})') {{crawlType.name}}
          td
            span.text-muted {{crawlType.description}}
          td.td-center(style='width: 120px')
            .btn-toolbar
                button.btn.btn-sm.btn-default(ui-sref='app.dwCrawlTypes.edit({id:crawlType.id})', ng-disabled='!currentUser.isAdmin')
                    i.fa.fa-pencil
                button.btn.btn-sm.btn-danger(ng-click='delete({id:crawlType.id})', ng-disabled='!currentUser.isAdmin')
                    i.fa.fa-trash-o
  .overlay(ng-if='loading')
  .loading-img(ng-if='loading')
