.box
  .box-body.no-padding(style='min-height: 120px;')
    .row
      .col-sm-12
        section(st-table="displayedTeams", st-safe-src='safeDisplayedTeams')
          .input-group.col-sm-12
            .col-sm-11
              input.input-sm.form-control(st-search='' type='search' placeholder='Search')
            .col-sm-1
              button.btn.btn-sm.btn-default(ui-sref='^.list' ui-sref-opts="{reload: true, notify: true}",title='Refresh Teams')
                i.fa.fa-refresh
          table.table.table-striped
            thead
              tr
                th.sortable.col-sm-1.col-md-1.col-lg-1.td-center(st-sort='name' st-sort-default="true") Name
                th.sortable.col-sm-2.col-md-2.col-lg-2.td-center(st-sort='description') Description
                th.col-sm-2.col-md-2.col-lg-2.td-center Members
                th.col-sm-2.col-md-2.col-lg-2.td-center Domains
                th.col-sm-4.col-md-4.col-lg-4.td-center Trails
                th.col-sm-1.col-md-1.col-lg-1.td-center
                  a.btn.btn-sm.btn-success.glyphicon.glyphicon-plus.custom(ui-sref='^.add', ng-disabled='!currentUser.isAdmin') &nbsp; Add Team
            tbody
              tr(ng-repeat='team in displayedTeams')
                td
                  a(ui-sref='app.dwTeams.view({id: team.id})' title='view Team JSON') {{team.name}}
                td
                  text-muted {{team.description}}
                td
                  span.span-max.label.label-ltgray(ng-repeat='user in team.users' title='view Team Members')
                    a(ui-sref='app.users.list({id: user.id})') {{user.username}}
                td
                  span.span-max.label.label-ltgray(ng-repeat='domain in team.domains' title='view Domains')
                      a(ui-sref='app.dwDomains.list({id: domain.id})') {{domain.name}}
                td
                  span.span-max.label.label-ltgray(ng-repeat='trail in team.trails' title='view Trails')
                      a(ui-sref='app.dwTrails.list({id: trail.id})') {{trail.name}}
                td.col-sm-1
                  .btn-toolbar
                      button.btn.btn-sm.btn-default(ui-sref='app.dwTeams.edit({id:team.id})', ng-disabled='!currentUser.isAdmin', title='edit Team' )
                          i.fa.fa-pencil
                      button.btn.btn-sm.btn-danger(ng-click='delete({id:team})', ng-disabled='!currentUser.isAdmin', title='delete Team')
                          i.fa.fa-trash-o
  .overlay(ng-if='loading')
  .loading-img(ng-if='loading')
