
.box
  .box-body.no-padding(style='min-height: 120px;')
    table.table.table-striped(st-table='displayedTeams', st-safe-src='safeDisplayedTeams')
      thead
        tr
          th(colspan="88")
            input.input-sm.form-control(st-search='' type='search' placeholder='Search')
      thead
        tr
          th.sortable.col-sm-2.col-md-2.col-lg-2(st-sort='name' st-sort-default="true") Name
          th.sortable.col-sm-4.col-md-4.col-lg-4(st-sort='description') Description
          th.sortable.col-sm-1.col-md-1.col-lg-1.td-center(st-sort='') Members
          th.sortable.col-sm-2.col-md-2.col-lg-2.td-center(st-sort='') Domains
          th.sortable.col-sm-1.col-md-1.col-lg-1.td-center(st-sort='') Trails
          th.col-sm-2.col-md-2.col-lg-2.td-center
              a.btn.btn-sm.btn-success.glyphicon.glyphicon-plus.custom(ui-sref='^.add', ng-disabled='!currentUser.isAdmin')
                | Add Team
      tbody
        tr(ng-repeat='team in displayedTeams')
          td(style='width: 120px')
            a(href='', ui-sref='app.dwTeams.view({id: team.id})') {{team.name}}
          td
            span.text-muted {{team.description}}
          td
            span.label.label-ltgray(ng-repeat="user in team.users") {{user.username}}
          td
            span.label.label-ltgray(ng-repeat="domain in team.domains") {{domain.name}}
          td.td-center
            span.label.label-ltgray &nbsp;{{team.trails.length}}
          td.td-center(style='width: 120px')
            .btn-toolbar
                button.btn.btn-sm.btn-default(ui-sref='app.dwTeams.edit({id:team.id})', , ng-disabled='!currentUser.isAdmin')
                    i.fa.fa-pencil
                button.btn.btn-sm.btn-danger(ng-click='delete({id:team})', , ng-disabled='!currentUser.isAdmin')
                    i.fa.fa-trash-o
  .overlay(ng-if='loading')
  .loading-img(ng-if='loading')
