
.box
  .box-body.no-padding(style='min-height: 120px;')
    table.table.table-striped(st-table='displayedteams', st-safe-src='safeDisplayedteams')
      thead
        tr
          th(colspan="4")
            input.input-sm.form-control(st-search='' type='search' placeholder='Search')
      thead
        tr
          th.sortable(st-sort='name' st-sort-default="true") Name
          th.sortable(st-sort='description') Description
          th.sortable(st-sort='') Members
          th.sortable(st-sort='') Domains
          th.sortable(st-sort='') Trails
          th
              a.btn.btn-sm.btn-success.glyphicon.glyphicon-plus.custom(ui-sref='^.add', ng-disabled='!currentUser.isAdmin')
                &nbsp; Add Team
      tbody
        tr(ng-repeat='team in displayedteams')
          td(style='width: 120px')
            a(href='', ui-sref='app.dwTeams.view({id: team.id})') {{team.name}}
          td
            span.text-muted {{team.description}}
          td
            span.label.label-default(ng-repeat="user in team.teamUsers") {{user}}
          td
            span.label.label-default(ng-repeat="domain in team.teamDomains") {{domain}}
          td
            span.label.label-default &nbsp;{{team.trails.length}}
          td(style='width: 120px')
            .btn-toolbar
                button.btn.btn-sm.btn-default(ui-sref='app.dwTeams.edit({id:team.id})',ng-disabled='!currentUser.isAdmin')
                    i.fa.fa-pencil
                button.btn.btn-sm.btn-danger(ng-click='delete({id:team.id})',ng-disabled='!currentUser.isAdmin')
                    i.fa.fa-trash-o
  .overlay(ng-if='loading')
  .loading-img(ng-if='loading')
