.box
  .box-body.no-padding(style='min-height: 120px;')
    .row
      .col-sm-12
        section(st-table="displayedTeams", st-safe-src='safeDisplayedTeams')
          .input-group.col-sm-12
            .col-sm-11
              input.input-sm.form-control(st-search='' type='search' placeholder='Search')
            .col-sm-1
              button.btn.btn-sm.btn-default(ui-sref='^.list' ui-sref-opts="{reload: true, notify: true}",title='Refresh Teams')
                i.fa.fa-refresh
          table.table.table-striped
            thead
              tr
                th.sortable.col-sm-1(st-sort='name' st-sort-default="true") Name
                th.sortable.col-sm-2(st-sort='description') Description
                th.col-sm-2 Members
                th.col-sm-1 Domains
                th.col-sm-5 Trails
                th.col-sm-1.td-center
                  a.btn.btn-sm.btn-success.glyphicon.glyphicon-plus.custom(ui-sref='^.add', ng-disabled='!currentUser.isAdmin')
                    | Add Team
            tbody
              tr(ng-repeat='team in displayedTeams')
                td.col-sm-1
                  a(href='', ui-sref='app.dwTeams.view({id: team.id})') {{team.name}}
                td.col-sm-2
                  text-muted {{team.description}}
                td.col-sm-2
                  label.label.label-ltgray(ng-repeat="user in team.users") {{user.username + ' '}} <br ng-if="($index+1)%2==0">
                td.col-sm-1
                  label.label.label-ltgray(ng-repeat="domain in team.domains") {{domain.name+ ' '}} <br ng-if="($index+1)%2==0">
                td.col-sm-5
                    label.label.label-ltgray(ng-repeat="trail in team.trails") {{trail.name + ' '}} <br ng-if="($index+1)%4==0">
                td.col-sm-1
                  .btn-toolbar
                      button.btn.btn-sm.btn-default(ui-sref='app.dwTeams.edit({id:team.id})', , ng-disabled='!currentUser.isAdmin')
                          i.fa.fa-pencil
                      button.btn.btn-sm.btn-danger(ng-click='delete({id:team})', , ng-disabled='!currentUser.isAdmin')
                          i.fa.fa-trash-o
  .overlay(ng-if='loading')
  .loading-img(ng-if='loading')
